/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;
   
  // background-color: #483d8b;
 
  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;
    
    // background-color: #483d8b;
     
    @include breakpoint($x-large) {
      max-width: $x-large;
       
      // background-color: #483d8b;
    }

    nav {
      z-index: 10;
      
      // background-color: #483d8b;
    }

    a {
      text-decoration: none;
      
      background-color: #483d8b;
    }
  }
}

.masthead__menu {
  background-color: #483d8b;

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    
    background-color: #483d8b;
  }
  
}

.masthead__menu-item {
  background-color: #483d8b;
  
  display: block;
  list-style-type: none;
  white-space: nowrap;
  
  &--lg {
    padding-right: 2em;
    font-weight: 700;
     
    background-color: #483d8b;
  }
}
